@use "@angular/material" as mat;

.restart {
  position: absolute;
  top: 5px;
  right: 10px;
}

.song-challenge {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  background: url("../../assets/fondo.jpg");
  background-position: center;
  background-size: cover;
  mat-card {
    max-width: 500px;
  }

  &__resolved {
    filter: grayscale(1);
  }
}

.finish {
  background: url("../../assets/fondo.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  mat-card {
    background-color: rgba(66, 171, 236, 0.633);
  }
  mat-card:nth-of-type(2) {
    background-color: rgba(233, 66, 236, 0.633);
  }
  mat-card:nth-of-type(3) {
    background-color: rgba(132, 253, 76, 0.633);
  }
  h1 {
    font-family: 'Playfair Display', serif;
    color: #ac34db;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 3rem;
  }

  /* Efecto de sombra suave */
  h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ac34db;
    margin-top: 8px;
    opacity: 0.8;
  }
  p{
    font-size: 1rem;
  }
}

// Pantalla pequeña (menos de 576 píxeles de ancho)
@media (max-width: 576px) {
  .song-challenge {
    grid-template-columns: 1fr 1fr;
    mat-card {
      max-width: 200px;
    }
  }
}

// Pantalla media (entre 576 y 768 píxeles de ancho)
@media (max-width: 768px) and (min-width: 577px) {
  /* Estilos para pantallas medianas */
  .song-challenge {
    grid-template-columns: 1fr 1fr;
    mat-card {
      max-width: 200px;
    }
  }
}

@media only screen and (max-width: 1367px) {
  .song-challenge {
    mat-card {
      max-width: 300px;
    }
  }
  .finish{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1rem;
    }
  }
}
