/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.template-card {
  width: 620px;
  &__audio {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    audio {
      width: 100%;
    }
  }
  .mat-mdc-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  .mdc-card__actions {
    justify-content: flex-end;
  }

  &.doremix_card {
    background-color: rgba(235, 165, 109, 0.747);
  }
  &.guess_card {
    background-color: rgba(252, 180, 247, 0.427);
  }
  &.playit_card {
    background-color: rgba(201, 201, 4, 0.3);
  }
}

.doremix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  gap: 10px;
  &.doremix {
    background: url("./assets/doremix_back.png") center;
  }
  &.guess {
    background: url("./assets/adivina_back.png") center;
    color: white;

    span {
      color: #ecaaca;
    }

    .black {
      color: black;
    }
  }

  &.follow {
    background: url("./assets/siguecantando_back.png") center;
  }

  &.playit {
    background: url("./assets/tocala_back.png") center;
    .doremix__head {
      img {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
  &__head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-self: flex-start;
    align-items: center;
    gap: 10px;
    h1 {
      font-size: 50px;
      font-style: bold;
    }
    p {
      margin-top: 20px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-style: oblique;
      font-weight: bold;
      font-size: 20px;
    }
    img {
      width: 600px;
    }
  }
}

// Pantalla pequeña (menos de 576 píxeles de ancho)
@media (max-width: 576px) {
  .doremix {
    &__head {
      img {
        width: 300px;
        margin: 0 auto;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .template-card {
    width: 400px;
  }
  img {
    width: 200px;
  }
}

// Pantalla media (entre 576 y 768 píxeles de ancho)
@media (max-width: 768px) and (min-width: 577px) {
  /* Estilos para pantallas medianas */
  .doremix {
    &__head {
      img {
        width: 300px;
        margin: 0 auto;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

// Media query para pantallas medianas (ejemplo: tabletas)
@media only screen and (max-width: 1367px) {
  .doremix {
    &.playit {
      .doremix__head {
        img {
          width: 200px;
        }
      }
    }
    &__head {
      img {
        width: 300px;
        margin: 0 auto;
      }
      gap: 10px;
      p {
        font-size: 16px;
      }
    }
  }
}
